<div class="container" style="width:1335px">
    <slick dots="true" init-onload='true' variable-width="true" data="movies" infinite="true" slides-to-show="3">
        <div class="movie-container movie-slider" ng-repeat="movie in movies">
            <movietile movie="movie" ng-click="onYes"></movietile>
        </div>
    </slick>
    <div masonry masonry-options="{ fitWidth: 'true', gutter: 26 }" class="text-center">
        <div class="masonry-brick" ng-repeat="movie in movies">
            <movietile movie="movie" ng-click="onYes" tile-width="140" tile-height="140"></movietile>
        </div>
    </div>
</div>
