body {
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    height: 100%;
    margin: 0;
    background: #eee;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading, .checkbox {
    margin-bottom: 30px;
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.movie-container {
    height: 300px;
    box-sizing: border-box;
    display: flex;
    max-width: 400px;
    font-size: 16px;
}

.tile {
    width: 380px;
    height: 380px;
    background-color: #99aeff;
    display: inline-block;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
    overflow: hidden;
    color: white;
    font-family: 'Roboto';
    margin: 0 auto;
}

.main-wrapper {
    margin-top: 100px;
    vertical-align: middle;
}

.tile img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
}

.tile .movie-text-info {
    position: absolute;
    padding: 15px 30px 30px 30px;
    height: 100%;
}

.tile h1 {

    font-weight: 300;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile h2 {
    font-weight: 100;
    margin: 20px 0 0 0;
    font-style: italic;
    transform: translateX(200px);
}

.animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.tile:hover {
    box-shadow: 0 35px 77px -17px rgba(0, 0, 0, 0.64);
    transform: scale(1.05);
}

.tile:hover img {
    opacity: 0.2;
}

.tile:hover .animate-text {
    transform: translateX(0);
    opacity: 1;
}

.tile:hover span {
    opacity: 1;
    transform: translateY(0px);
}

@media (max-width: 1000px) {
    .wrap {
        flex-direction: column;
        width: 400px;
    }
}

.rated {
    border: 1px solid white;
    padding: 1px 5px;
    margin-right: 5px;
}

.plot {
    margin-top: 25px;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?w1y0jf');
    src: url('fonts/icomoon.eot?w1y0jf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w1y0jf') format('truetype'),
    url('fonts/icomoon.woff?w1y0jf') format('woff'),
    url('fonts/icomoon.svg?w1y0jf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-moon {
    font-family: 'icomoon', serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: -15px;
}

.icon-Metacritic {
    margin-right: 5px;
}

.icon-Metacritic .path1:before {
    content: "\e900";
    color: rgb(0, 27, 54);
}

.icon-Metacritic .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mini-tomato .path1:before {
    content: "\e902";
    color: rgb(255, 27, 0);
}

.icon-mini-tomato .path2:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(23, 115, 23);
}

.icon-mini-tomato .path3:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-mini-tomato .path4:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(227, 0, 0);
}

.rater-icon {
    font-size: 38px;
    vertical-align: middle;
}

.ratings-row {
    position: absolute;
    bottom: 10px;
}

.carousel-container {

}

.movie-slider {
    padding: 15px;
    height: 95%;
    min-width: 380px;
}

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 45px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -50px;
}

[dir='rtl'] .slick-prev {
    right: -50px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 25%;
}

.masonry-brick {
    margin-top: 20px;
}

