<div class="container main-wrapper">
    <h1 class="text-center"><span>Pick one.</span></h1>
    <div class="row">
        <div class="col-xs-6">
            <div class="movie-container auto-margin">
                <movietile movie="moviesOne[iteratorOne]" ng-click="onYes(1)"></movietile>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="movie-container auto-margin">
                <movietile movie="moviesTwo[iteratorTwo]" ng-click="onYes(2)"></movietile>
            </div>
        </div>
    </div>
</div>
